*.iml
.gradle
.idea/
/local.properties
local.properties
.DS_Store
/build
app/build/
/captures
captures/
.externalNativeBuild
.cxx
.kotlin/
*.apk
*.ap_
*.aab
*.hprof
*.log
tmp-db/
~$*
*.docx
*.pdf
*.py
Yaluway_Brand_Assets/
Yaluway_Figma_Mockups/
